.navbar{
    height: 150px;
    background-color: white;
}

.resgiter{
   margin-left: 600px;
}

.login{
    margin-right: 700px;
}

.container{

    margin-top: 50px;
    
}

.left{
    margin-left: 310px;
}

.len{
    width: 100px;
}

